@import "../base/vars";
@import "../base/smartgrid";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 25px;
    margin: 32px auto;
  }

  &__logo img {
    height: 39px;
    width: auto;
  }
  &__toggle{
    display: none;
  }
  &__toggle:after {
    content: url("./assets/menu.svg");
  }
  &__toggle.open:after {
    content: url("./assets/close.svg");
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  .active &__menu-item {
    color: $primary;
  }
  &__menu-item {
    padding-left: 40px;
    text-transform: uppercase;
    color: $white;
    transition: color .5s;

    &:hover, &.active {
      color: $primary;
    }
  }

  @include lg-block {

    &__menu {
      display: none;
      position: fixed;
        z-index: 99;
      top: 107px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      padding: 25px;
      flex-direction: column;
      height: calc(100vh - 107px);

      &-item{
        text-align: right;
        display: block;
        margin-bottom: 25px;


        color: #24375F;
      }
    }

    &__toggle{
      display: block;
    }

    &__toggle.open + &__menu {
      display: block;
    }
  }


}
