header.header
    div.header__wrap
        a(href='#about').header__logo
            img(src=require('./assets/logo-v1.svg?v1'))
        a.header__toggle
        div.header__menu
            div.active
                a(href='#about' data-menu-spy).header__menu-item About
            div
                a(href='#how_it_work' data-menu-spy).header__menu-item HOW IT WORKS
            div
                a(href='#features' data-menu-spy).header__menu-item FEATURES
            div
                a(href='#science' data-menu-spy).header__menu-item SCIENCE
            div
                a(href='#faq' data-menu-spy).header__menu-item FAQ
            div
             a(href='').header__menu-item Contact




