@import "../base/vars";
@import "../base/smartgrid";

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.light {
        border-bottom: 1px solid rgb(232, 232, 232);
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        padding: 0 25px;
        margin: 32px auto;
        box-sizing: border-box;
    }

    &.light &__wrap {
        margin: 19px auto;
    }

    &__logo img {
        height: 39px;
        width: auto;
    }

    &.light &__logo .normal {
        display: none;
    }

    &:not(.light) &__logo .light {
        display: none;
    }

    &__toggle {
        display: none;
    }


    &.light &__toggle:after {
        color: $primary !important;
    }

    &__toggle:after {
        font-family: icomoon, serif;
        content: "\e901";
        font-size: 26px;
        color: $white;
    }

    &__toggle.open:after {
        content: "\e900";
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
    }

    .active &__menu-item {
        color: $primary;
    }

    &__menu-item {
        padding-left: 40px;
        text-transform: uppercase;
        color: $white;
        transition: color .5s;

        &:hover, &.active {
            color: $primary;
        }
    }

    &.light &__menu-item {
        padding-left: 32px;
        font-weight: 500;
        color: rgb(34, 34, 34);

        &:hover, &.active {
            color: $primary;
        }

    }

    @include lg-block {

        &__menu {
            display: none;
            position: fixed;
            z-index: 99;
            top: 107px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            padding: 25px;
            flex-direction: column;
            height: calc(100vh - 107px);

            &-item {
                text-align: right;
                display: block;
                margin-bottom: 25px;


                color: #24375F;
            }
        }

        &.light &__menu{
            top: 82px;
            height: calc(100vh - 82px);
        }

        &__toggle {
            display: block;
        }

        &__toggle.open + &__menu {
            display: block;
        }
    }


}
