@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ahnbr2');
  src:  url('fonts/icomoon.eot?ahnbr2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ahnbr2') format('truetype'),
    url('fonts/icomoon.woff?ahnbr2') format('woff'),
    url('fonts/icomoon.svg?ahnbr2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-go_top:before {
  content: "\e905";
}
.icon-Polygon-1:before {
  content: "\e904";
  color: #56bfbd;
}
.icon-btn-blog-appstore:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e900";
  color: #fff;
}
.icon-menu:before {
  content: "\e901";
  color: #fff;
}
.icon-tw:before {
  content: "\e902";
}
.icon-in:before {
  content: "\e90d";
}
.icon-fb:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e90f";
}
