extends ../../components/base/base
block header
    include ../../components/header/header_blog
block content

    main.article
        section.article__cover
            h1.article__title BiXBiT participated in Bitmain's World Digital Mining Summit 2019
            div.article__socials.socials
                a(href="javascript:void(0)").socials__item.fb
                a(href="javascript:void(0)").socials__item.tw
                a(href="javascript:void(0)").socials__item.in

        section.article__main
            div.article__content The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus  The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus The unique construction of the BiXBiT installation has been patented in Russia and Belarus
            div.article__group
                div.article__published Publication date: 6 months ago
                div.article__socials.socials
                    a(href="javascript:void(0)").socials__item.fb-c
                    a(href="javascript:void(0)").socials__item.tw-c
                    a(href="javascript:void(0)").socials__item.in-c
            div.article__categories.categories
                a(href="").categories__item meditation
                a(href="").categories__item affirmation


        section.article__aside

            div.collection
                div.collection__title Latest news
                div.collection__list
                    div.collection__item
                        div.collection__num 1
                        div.collection__info
                            a.collection__article The unique construction of the BiXBiT installation has been patented in Russia and Belarus
                            a.collection__category BiXBiT
                    div.collection__item
                        div.collection__num 2
                        div.collection__info
                            a.collection__article The unique construction of the BiXBiT installation has been patented in Russia and Belarus
                            a.collection__category BiXBiT
                    div.collection__item
                        div.collection__num 3
                        div.collection__info
                            a.collection__article The unique construction of the BiXBiT installation has been patented in Russia and Belarus
                            a.collection__category BiXBiT
                    div.collection__item
                        div.collection__num 4
                        div.collection__info
                            a.collection__article The unique construction of the BiXBiT installation has been patented in Russia and Belarus
                            a.collection__category BiXBiT

            div.collection
                div.collection__title Related materials:
                div.collection__list
                    div.collection__item
                        div.collection__num 1
                        div.collection__info
                            a.collection__article The unique construction of the BiXBiT installation has been patented in Russia and Belarus
                            a.collection__category BiXBiT




