@import "../../components/base/vars";
@import "../../components/base/smartgrid";
@import "~accordion/src/accordion.css";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/modal";

.sc-1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url("assets/sc1/sc_1_bg-v1.svg");
    background-position: center center;
    background-size: cover;

    &__wrap {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-grow: 1;
        box-sizing: border-box;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 105px 25px 60px 25px;
    }

    &__badge{
        margin-bottom: auto;
        padding-bottom: 25px;

    }

    &__title {
        font-size: 55px;
        font-weight: bold;
        color: $white;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 25px;
        color: $white;
        letter-spacing: 0.006em;
        margin-bottom: 55px;
    }

    &__app-btn img {
        height: 80px;
        width: auto;
    }

    &__watch-video{
        display: none;
        text-align: center;
        margin-bottom: 55px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__app {
        min-width: 324px;
        max-width: 35% ;
        height: calc(100vh - 165px);
    }

    & .device {
        position: relative;


        &__phone {
            height: 100%;
            img{
                max-width: none;
                width: auto;
                max-height: 100%;
            }
        }

        &__watch {
            position: absolute;
           bottom: -10px;
            left: -25%;
            height: 40%;
            width: 100%;
            background-size: contain;
            background-image: url('./assets/watch.png');
            background-position: left center;
            background-repeat: no-repeat;
        }



        &__animation {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            height: 50%;
        }

        &__ring{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__ring-1 {
            position: absolute;
            top: 10%;
            left: 10%;
            width: calc(100% - 20%);
            height: calc(100% - 20%);
            border-radius: 50%;
            border: 1px solid #5C7372;

            transform: rotate(45deg);
            animation: Orbita1 55s linear infinite;
            &:after{
                position: absolute;
                display: block;
                content: url("./assets/or-1.svg");
                width: 8.5%;
                height: 8.5%;
                animation: Orbita1-ico 55s linear infinite;
                top: -4.75%;
                transform: rotate(-45deg);

            }
        }

        &__ring-2 {
            position: absolute;
            top: 18%;
            left: 18%;
            width: calc(100% - 36%);
            height: calc(100% - 36%);
            border-radius: 50%;
            border: 1px solid #5C7372;
            transform: rotate(-70deg);
            animation: Orbita2 35s linear infinite;

            &:after{
                position: absolute;
                display: block;
                content: url("./assets/or-2.svg");
                width: 11.5%;
                height: 11.5%;

                top: -6.75%;
                transform: rotate(70deg);

                animation: Orbita2-ico 35s linear infinite;

            }
        }
        &__ring-3 {
            position: absolute;
            top: 26%;
            left: 26%;
            width: calc(100% - 52%);
            height: calc(100% - 52%);
            border-radius: 50%;
            border: 1px solid #5C7372;

            transform: rotate(-180deg);
            animation: Orbita3 55s linear infinite;

            &:after{
                position: absolute;
                display: block;
                content: url("./assets/or-3.svg");
                width: 16%;
                height: 16%;
                animation: Orbita3-ico 55s linear infinite;
                top: -8%;
                transform: rotate(180deg);

            }
        }

        &__play {
            position: absolute;
            top: 26%;
            left: 26%;
            width: calc(100% - 52%);
            height: calc(100% - 52%);

            border: 1px solid transparent;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .play{
                display: block;
                max-height: 35%;


                /*animation: pulse 2s infinite;
                border-radius: 50%;*/
                margin-bottom: 12px;
            }
            .watch{
                display: block;
                max-height: 15%;
                margin-bottom: 2px;
            }
            .video{
                display: block;
                max-height: 15%;
            }
        }


    }

    @keyframes Orbita1 {
        from { transform: rotate(45deg); }
        to   { transform: rotate(-315deg); }
    }
    @keyframes Orbita1-ico {
        from { transform: rotate(-45deg); }
        to   { transform: rotate(315deg); }
    }

    @keyframes Orbita2 {
        from { transform: rotate(-70deg); }
        to   { transform: rotate(290deg); }
    }
    @keyframes Orbita2-ico {
        from { transform: rotate(70deg); }
        to   { transform: rotate(-290deg); }
    }

    @keyframes Orbita3 {
        from { transform: rotate(-180deg); }
        to   { transform: rotate(180deg); }
    }
    @keyframes Orbita3-ico {
        from { transform: rotate(180deg); }
        to   { transform: rotate(-180deg); }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }
    //--Responsive

    @include lg-block {


        &__wrap {
            padding-bottom: 120px;
        }

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__app {
            background-position: center center;
        }
    }

    @include sm-block {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-position: left center;

        &__wrap {
            flex-grow: 1;
            justify-content: center;
        }

        &__title {
            font-size: 34px;
            text-align: center;
        }

        &__subtitle {
            text-align: center;
        }

        &__app-btn {
            display: block;
            text-align: center;
        }

        &__app {
            display: none;
        }

        &__badge{
            text-align: center;
        }

        &__watch-video{
            display: block;
        }
    }
    //--Responsive
}

.sc-2 {
    min-height: 100vh;
    background: #1D2733;

    &__wrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 90px 25px;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-left: calc(25% + 25px);
        font-weight: bold;
        font-size: 64px;
        color: $white;
        margin-bottom: 75px;
    }

    &__desc {
        font-size: 18px;
        line-height: 29px;
        color: $white;
        margin-left: calc(25% + 25px);
        margin-bottom: 50px;
    }

    &__action {
        margin-left: calc(25% + 25px);
        margin-bottom: 80px;
    }

    &__steps {
        display: flex;
        justify-content: space-between;
    }

    &__step-item {
        text-align: center;
        width: calc(25% - 25px);
        border: 2px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 65px 0;
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__step-icon {
        height: 100px;
        width: auto;
        margin-bottom: 60px;
    }

    &__step-title {
        color: $white;
        font-weight: bold;
        text-align: center;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 17px;
    }

    &__step-desc {
        color: $white;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
    }

    &__post-link {
        font-weight: 600;
        position: relative;
        display: inline-block;
        color: #56BFBD;

        &:before {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            bottom: 4px;
            border-bottom: 1px solid #56BFBD;

        }
    }

    //--Responsive
    @include lg-block {
        &__wrap {
            padding: 60px 0;
        }

        &__title {
            display: block;
            text-align: center;
            margin: 0 auto 40px auto;
            font-size: 55px;
            padding: 0 25px;
        }

        &__title-img{
            margin-top: 16px;
        }

        &__desc {
            max-width: 70%;
            padding: 0 25px;
            margin: 0 auto 40px auto;
        }

        &__action {
            padding: 0 25px;
            margin-left: auto;
            text-align: center;
        }

        &__steps {
            padding: 0 25px;
        }
    }

    @include md-block {

        &__steps {
            overflow-y: scroll;
            padding: 0 0 15px 0;

            &:after {
                content: '';
                display: block;
                border: 1px solid transparent;
            }
        }

        &__step-item {
            flex-grow: 1;
            max-width: 250px;
            min-width: 250px;

            &:first-child {
                margin-left: 25px;
            }

            &:last-child {
                margin-right: 25px;
            }
        }
    }

    @include sm-block {
        &__wrap {
            padding: 40px 0;
        }

        &__title {
            margin: 0 auto 40px auto;
            font-size: 40px;
        }

        &__desc {
            max-width: none;
        }
    }
    //--Responsive

}

.sc-3 {
    min-height: 100vh;
    background: #151E25;

    &__wrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 25px;
    }

    &__title {
        text-align: right;
        color: $white;
        font-weight: bold;
        font-size: 64px;
        line-height: 58px;
        margin-bottom: 100px;

    }

    &__features {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(25% - 25px);
    }

    &__feature-cover {
        height: 500px;
        width: 250px;
        margin-bottom: 60px;
    }

    &__feature-info {

        display: inline-block;
        margin: 0 auto;
    }

    &__feature-title {

        color: $white;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 40px;
    }

    &__feature-desc {
        color: $white;
        font-size: 18px;
        line-height: 28px;
    }

    &__action {
        text-align: center;
        padding: 0 25px;
    }

    //--Responsive

    @include lg-block {

        &__wrap {
            max-width: 1200px;
            margin: 0 auto;
            padding: 70px 0;
        }

        &__title {
            font-size: 55px;
            padding: 0 25px;
            margin-bottom: 60px;
        }

        &__features {
            padding: 0 25px;
            margin-bottom: 70px;
        }

        &__feature-cover {
            margin-bottom: 40px;
        }

        &__feature-title {
            font-size: 22px;
            padding-bottom: 30px;
        }
    }

    @include md-block {

        &__wrap {
            max-width: 1200px;
            margin: 0 auto;
            padding: 60px 0;
        }

        &__title {
            text-align: center;
        }
        &__features {
            overflow-y: scroll;
            padding: 0 0 15px 0;
            margin-bottom: 60px;

            &:after {
                content: '';
                display: block;
                border: 1px solid transparent;
            }
        }

        &__feature {
            flex-grow: 1;
            max-width: 250px;
            min-width: 250px;
            margin-right: 25px;

            &:first-child {
                margin-left: 25px;
            }

            &:last-child {
                margin-right: 25px;
            }
        }
    }

    @include sm-block {
        &__wrap {
            max-width: 1200px;
            margin: 0 auto;
            padding: 40px 0;
        }
        &__features {
            margin-bottom: 40px;
        }
        &__title {
            font-size: 40px;
        }
    }

    //--Responsive
}

.sc-4 {
    position: relative;
    z-index: 1;
    min-height: 100vh;


    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        max-width: 1200px;
        margin: 0 auto;

    }

    &__sciences {
        min-height: 100vh;
        flex-basis: 50%;
        background: $white;
        box-sizing: border-box;
        padding: 100px 25px 0 137px;
    }

    &__doctor {
        flex-grow: 1;
        background: #f3f3f3;
        padding: 110px 25px 0 25px;

        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .science {
        display: flex;
        flex-direction: column;

        &__h {
            font-weight: bold;
            font-size: 64px;
            line-height: 58px;
            letter-spacing: -0.0058em;

            color: #24375F;
        }

        &__item {
            margin-top: 77px;
        }

        &__title {
            font-size: 16px;
            line-height: 22px;
            color: #868B8F;
            letter-spacing: 0.1em;
        }

        &__list {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &__desc:last-child {
            margin-bottom: 0px;
        }

        &__desc {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            color: #24375F;
            margin-bottom: 25px;
        }

        &__action {
            text-align: right;
        }

        &__btn {
            white-space: nowrap;
            position: relative;
            top: -2px;
            font-weight: normal;
            font-size: 12px;
            border-radius: 3px;
            padding: 4px 10px;
            margin-left: 10px;
            background: #56bfbd;
            color: $white;
        }

    }

    .doctor {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__md {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__cover {
            border-radius: 50%;
            width: 400px;
            height: 400px;
            background: url("./assets/sc4/andrew.jpg");
            background-size: contain;
            margin-bottom: 50px;
            box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.5);
        }

        &__name {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 40px;
            color: #24375F;
            margin-bottom: 8px;
        }

        &__fb{
            position: relative;
            top: 1px;
            padding-left: 16px;
        }

        &__position {
            font-weight: bold;
            font-size: 24px;
            line-height: 22px;
            margin-bottom: 15px;
            color: #24375F;
        }

        &__role {
            text-align: center;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #24375F;
            text-transform: capitalize;
            margin-bottom: 50px;
            max-width: 320px;
        }

        &__desc {
            font-family: 'Proza Libre';
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            color: #24375F;
            max-width: 520px;

            &:before {
                position: relative;
                left: -15px;
                content: url("./assets/sc4/rq.svg");
            }

            &:after {
                position: relative;
                top: 10px;
                right: -15px;
                content: url("./assets/sc4/lq.svg");
            }

        }

        &__quote {
            min-width: 460px;
            margin: 0 auto 44px auto;
            width: 100%;
        }

        &__quote-text {
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1px;
            color: #24375F;
            text-align: center;
        }

        &__quote-author {
            position: relative;
            right: 0;
            text-align: right;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 40px;
            color: #24375F;
        }
    }

    @include lg-block {

        &__wrap {
            flex-wrap: wrap;
            justify-content: center;
        }

        .doctor {
            padding: 100px 25px;
            order: 1;

            &__role {
                margin-bottom: 70px;
            }
        }
        .science {
            flex-basis: 100%;
            min-height: auto;
            order: 2;

            padding: 70px 25px 50px 25px;

            &__h {
                text-align: center;
            }

            &__list {
                max-width: 400px;
                margin: 0 auto;
            }
        }
    }

    @include sm-block {
        .doctor {
            padding: 70px 25px;

            &__cover {
                width: 300px;
                height: 300px;
            }

            &__role {
                margin-bottom: 50px;
            }

            &__quote {
                min-width: auto;
                padding-right: 25px;
                width: auto;
            }

            &__quote-text {
                text-align: right;
            }
        }

        .science {
            padding: 70px 25px 50px 25px;
        }


    }

    @include xs-block {
        .doctor {
            &__cover {
                width: 250px;
                height: 250px;
            }

            &__name{
                font-size: 34px;
            }

            &__fb{
                position: relative;
                top: 2px;
                padding-left: 12px;
            }
        }
    }

}

.sc-5 {
    position: relative;
    z-index: 3;

    &__wrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 50px 250px 50px;
    }

    &__title {
        font-weight: bold;
        font-size: 60px;
        line-height: 58px;
        color: #24375F;

        margin-bottom: 108px;
    }

    &__accordion-item {
        width: 100%;
    }

    &__accordion-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 27px 44px 27px 122px;

        border-top: 1px solid rgba(196, 196, 196, 0.5);

        outline: none;

        transition: background-color 0.3s;

        i {
            padding-left: 12px;
            transition: transform 0.3s;
            transform: rotate(-90deg);
        }

        i:before {
            color: #24375F;
        }

        &:hover {
            background: rgba(196, 196, 196, 0.15);
        }
    }

    .open &__accordion-head {
        background: rgba(196, 196, 196, 0.15);
        border-bottom: 1px solid rgba(196, 196, 196, 0.5);

        i {
            transform: rotate(0);
        }

        i:before {
            color: #56BFBD;
        }
    }


    &__accordion-title {
        font-weight: bold;
        font-size: 20px;
        color: #24375F;
        flex-grow: 1;
    }

    &__accordion-description {
        font-size: 18px;
        line-height: 28px;
        color: #283D6C;

        max-width: 876px;
        padding: 27px 0 27px 122px;
    }

    @include lg-block {

        &__title {
            text-align: center;
            margin-bottom: 50px;
        }
    }
    @include sm-block {


        &__wrap {
            padding: 70px 25px 150px 25px;
        }

        &__accordion-head {
            padding: 24px;
        }
        &__accordion-description {
            padding: 24px;
        }
        &__accordion-title {
            font-size: 18px;
        }


    }

}

.btn {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: $white;
    background: #56BFBD;
    border-radius: 70px;
    padding: 15px 77px;
    transition: background-color 0.3s;

    &:hover {
        background: #68bfbc;
    }

    @include sm-block {
        font-size: 22px;
        padding: 15px 28px;
    }
}

#video{
    .modal-dialog, iframe,.modal-content{
        max-width: 90vw;
        height: 90vh;
        background-color: transparent;

    }
    iframe{
        position: relative;
        z-index: 4;
    }
    .modal-dialog{
        margin: 5vh auto;
    }
    .modal-content{
        position: relative;
    }
    .modal-close{
        display: block;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 40px;
        line-height: 20px;
        background: #fff;
        border-radius: 0 0  0 16px   ;
    }
}
