// Colors
$primary: #56BFBD;
$primaryLight: rgba(0,0,0, 0.4);
$primaryDark: rgba(0,0,0, 0.8);

$secondary: #c2c8c5;
$secondaryLight: #ddddda;
$secondaryDark: #8d9390;

$white: #ffffff;

// Fonts
$font-sf: 'San Francisco Pro';

$font-din-regular: 'DIN Pro Regular';
$font-din-medium: 'DIN Pro Medium';
$font-din-black: 'DIN Pro Black';
$font-din-bold: 'DIN Pro Bold';

$font-sf-semibold: 'SF Pro Display';
$font-sf-regular: 'SF Pro Display';
$font-sf-heavy: 'SF Pro Display Heavy';

$font-icon-moon: 'IconMoon';


$headerHeight : 70px;


$t: none
