@import "smartgrid";
@import "custom";
@import "vars";
@import "fonts";
@import "fonts/Icon/style.css";

//Clear default style
@include reset();

body{
    font-family: $font-sf;

    font-size: 1em;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    letter-spacing: 1px !important;
}
