@import "smartgrid";
@import "custom";
@import "vars";
@import "fonts";
@import "icon";

//Clear default style
@include reset();

body{
    font-family: $font-sf;
    font-size: 1em;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

}
