doctype html

html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Proza+Libre:400i&display=swap&subset=latin-ext" rel="stylesheet")
        link(rel="shortcut icon" type="image/x-icon" href=require('./favicon.png'))
        title Sleep and Learn with Hypnopedia
        meta(name="description" content="Improve your mental health and change your life through motivating affirmations with Hypnopedia App.")
    body

        block header
            include ../header/header

        block content

        block footer
            include ../footer/footer

        block ph_widget
            div#widget

        block scroll_top
            include ../scroll_top/scroll_top

