footer.footer
    div.footer__wrap
        div.footer__menu.menu
            a(href='#about').menu__item
                img(src=require('./assets/logo-v1.svg?v1'))
            a(href='/assets/docs/PrivacyPolicy.pdf' target='_black').menu__item Privacy policy
            a(href='/assets/docs/Terms&Conditions.pdf' target='_black').menu__item Terms of Service
            a(href='https://itunes.apple.com/app/id1274009022' target="_blank").menu__item GET THE APP
            a(href='/contacts').menu__item CONTACTS
        div.footer__socials.socials
            a(href='https://www.facebook.com/hypnopedia.application' target="_blank").socials__item.fb
