footer.footer
    div.footer__wrap
        div.footer__group
            div.footer__menu.menu
                a(href='#about').menu__item
                    img(src=require('./assets/logo-v1.svg?v1'))
                a(href='/assets/docs/PrivacyPolicy.pdf' target='_black').menu__item PRIVACY POLICY
                a(href='/assets/docs/Terms&Conditions.pdf' target='_black').menu__item TERMS OF SERVICE
                a(href='https://itunes.apple.com/app/id1274009022' target="_blank").menu__item GET THE APP
                a(href='/contacts').menu__item CONTACTS
            div.footer__socials.socials
                a(href='https://www.facebook.com/hypnopedia.application' target="_blank").menu__item.socials__item.tw
                a(href='https://www.facebook.com/hypnopedia.application' target="_blank").menu__item.socials__item.fb
        a(href='https://www.producthunt.com/posts/hypnopedia' target='_blank').footer__badge
            img(src=require('./assets/ph_badge.svg'))




