extends ../../components/base/base
block header
    include ../../components/header/header_blog
block content

    main.blog
        section.blog__category.category
            h1.category__title Mental health
            p.category__desc Mental health

        section.blog__categories.categories

            div(role="tablist").categories__tabs.nav.nav-tabs
                a(data-toggle="tab" href="#home-1").categories__tab.active SLEEP
                a(data-toggle="tab" href="#home-2").categories__tab MOTIVATION
                a(data-toggle="tab" href="#home-3").categories__tab MENTAL
                a(data-toggle="tab" href="#home-1").categories__tab.active SLEEP
                a(data-toggle="tab" href="#home-2").categories__tab MOTIVATION
                a(data-toggle="tab" href="#home-3").categories__tab MENTAL
                a(data-toggle="tab" href="#home-1").categories__tab.active SLEEP
                a(data-toggle="tab" href="#home-2").categories__tab MOTIVATION
                a(data-toggle="tab" href="#home-3").categories__tab MENTAL
                a(data-toggle="tab" href="#home-1").categories__tab.active SLEEP
                a(data-toggle="tab" href="#home-2").categories__tab MOTIVATION
                a(data-toggle="tab" href="#home-3").categories__tab MENTAL
                a(data-toggle="tab" href="#home-1").categories__tab.active SLEEP
                a(data-toggle="tab" href="#home-2").categories__tab MOTIVATION
                a(data-toggle="tab" href="#home-3").categories__tab MENTAL

            div.tab-content
                div.categories__articles.top-article.tab-pane.active#home-1(role="tabpanel")
                    div.top-article__left
                        div.lg-post
                            a.lg-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                            div.lg-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                            div.lg-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                            div.lg-post__group
                                div.lg-post__category Категория
                                div.lg-post__date 2 MONTHS AGO
                                div.lg-post__read REA 3 MIN

                    div.top-article__right
                        div.sm-post
                            div.sm-post__grid
                                a.sm-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                                div.sm-post__info
                                    a.sm-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                                    div.sm-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                                    div.sm-post__group
                                        a.sm-post__category Категория
                                        a.sm-post__date 2 MONTHS AGO
                                        a.sm-post__read REA 3 MIN
                        div.sm-post
                            div.sm-post__grid
                                a.sm-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                                div.sm-post__info
                                    a.sm-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                                    div.sm-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                                    div.sm-post__group
                                        a.sm-post__category Категория
                                        a.sm-post__date 2 MONTHS AGO
                                        a.sm-post__read REA 3 MIN
                        div.sm-post
                            div.sm-post__grid
                                a.sm-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                                div.sm-post__info
                                    a.sm-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                                    div.sm-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                                    div.sm-post__group
                                        a.sm-post__category Категория
                                        a.sm-post__date 2 MONTHS AGO
                                        a.sm-post__read REA 3 MIN
                    div.top-article__bootom
                        a.top-article__btn All articles
        section.blog__title Latest news
        section.blog__body.body
            div.body__main
                div.body__post.md-post
                    a.md-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                    div.md-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                    div.md-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                    div.md-post__group
                        div.md-post__category Категория
                        div.md-post__date 2 MONTHS AGO
                        div.md-post__read REA 3 MIN
                div.body__post.md-post
                    a.md-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                    div.md-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                    div.md-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                    div.md-post__group
                        div.md-post__category Категория
                        div.md-post__date 2 MONTHS AGO
                        div.md-post__read REA 3 MIN
                div.body__post.md-post
                    a.md-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                    div.md-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                    div.md-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                    div.md-post__group
                        div.md-post__category Категория
                        div.md-post__date 2 MONTHS AGO
                        div.md-post__read REA 3 MIN
                div.body__post.md-post
                    a.md-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                    div.md-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                    div.md-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                    div.md-post__group
                        div.md-post__category Категория
                        div.md-post__date 2 MONTHS AGO
                        div.md-post__read REA 3 MIN
                div.body__post.md-post
                    a.md-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                    div.md-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                    div.md-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                    div.md-post__group
                        div.md-post__category Категория
                        div.md-post__date 2 MONTHS AGO
                        div.md-post__read REA 3 MIN
                div.body__post.md-post
                    a.md-post__cover(style="background-image: url('https://i.pinimg.com/originals/cc/11/66/cc11665c0f6565ab973907a73fa7d8b5.jpg')")
                    div.md-post__title Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss Sleep deprivation induces fragmented memory loss
                    div.md-post__desc During this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a privaDuring this event, BiXBiT paid more attention to the integration of our installations in the heating and hot water supply systems of a private house, the prototype of a smart boiler and the development of hosting mining services.
                    div.md-post__group
                        div.md-post__category Категория
                        div.md-post__date 2 MONTHS AGO
                        div.md-post__read REA 3 MIN

            div.body__aside
                div.aside
                    div.aside__title Popular articles
                    div.popular
                        div.popular__item
                            div.popular__num 1
                            div.popular__group
                                div.popular__title The Case for Doing Less
                                div.popular__category MEDITATION
                        div.popular__item
                            div.popular__num 2
                            div.popular__group
                                div.popular__title The speech in the sleeping brain
                                div.popular__category MEDITATION
                        div.popular__item
                            div.popular__num 3
                            div.popular__group
                                div.popular__title How Facebook Has Flattened  Human Communication
                                div.popular__category MEDITATION
                        div.popular__item
                            div.popular__num 4
                            div.popular__group
                                div.popular__title The Case for Doing Less
                                div.popular__category MEDITATION
                        div.popular__item
                            div.popular__num 5
                            div.popular__group
                                a.popular__title The Case for Doing Less
                                a.popular__category MEDITATION
                    div.aside__title Tags
                    div.aside-cat
                        a.aside-cat__item SLEEP
                        a.aside-cat__item MENTAL HEALTH
                        a.aside-cat__item MEMORY
                        a.aside-cat__item HAPPINESS
                        a.aside-cat__item MINDFULLNESS

        section.blog__pagination.pagination
            a.pagination__prev
            a.pagination__page.active 1
            a.pagination__page 2
            a.pagination__page 3
            a.pagination__page 4
            a.pagination__next
