extends ../../components/base/base

block content
    main.contacts
        div.contacts__wrap
            div.contacts__address.address
                div.address__title Address
                a(href="").address__point 2715 Hidden Road, bld 8, California, USA
                a(href="").address__point info@hypnopedia.site
                div.address__socials
                    a(href="#" target="_blank").address__social.fb
                        img(src=require("./assets/fbook.svg"))
                    a(href="#" target="_blank").address__social.tw
                        img(src=require("./assets/1200px-Twitter.png"))

            div#contacts_form

